$body-color: #fff;
$second-color: rgba(241, 243, 252, 1);
$first-text-color: rgba(23, 31, 44, 0.75);
$second-text-color: rgba(120, 49, 38, 1);
$main-text-color: rgba(17, 33, 49, 1);
$blur-text-color: rgba(23, 31, 44, 0.75);
$non-active-text-color: rgba(121, 143, 164, 1);
$contact-text-color: rgba(73, 125, 251, 1);
$header-footer-bgc: rgba(17, 33, 49, 0.95);
$button-color: rgba(23, 31, 44, 1);