@media only screen and (max-width: 699px) {
  header {
    .header__item {
      padding: 10px;
      nav {
        transition: .5s;
        position: absolute;
        top: 110%;
        left: -100%;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: rgba(255,255,245,.8);
        backdrop-filter: blur(5px);
        padding: 60px 7%;
        .navigation {
          width: 100%;
          flex-direction: column;
          align-items: center;
          gap: 30px;
          .navigation__item {
            display: block;
            transition: .3s;
            &::after {
              display: none;
              content: '';
            }
            
            .navigation__item-link {
              color: $main-text-color;
              font-size: 20px;
              font-weight: 600;
            }
          }
          .navigation__item.active {
            &::after {
              background-color: $second-text-color;
            }
          }
        }
      }
      .modal-media-nav {
        left: 0;
      }
      
      .btn__group {
        flex-direction: column;
        transition: .5s;
        position: absolute;
        z-index: 9999;
        top: 380%;
        left: -100%;
        width: 120px;
        height: 80px;
        button {
          width: 120px;
          height: 30px;
        }
        
      }
      .modal-media-btn {
        left: calc(50% - 60px);      
      }
      .menu__navbar-btn {
        display: block;
      }
    }
  }

  main {
    padding: 10px;

    .proffer {
      padding: inherit;
      .proffer__section {
        padding: inherit;
        background-color: rgba(240,240,240,.6);
        width: 690px;
        border-radius: 20px;
        .proffer__title {
          font-size: 38px;
          line-height: 48px;
        }
        .proffer__section-heading {
          width: 360px;
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
    .conditions {
      height: max-content;
      .conditions__title {
        width: 90%;
        font-size: 2em;
      }
      .conditions__list {
        width: 90%;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(4, 300px);
        justify-content: center;
        gap: 50px 80px;
      }
    }
  }
}

@media only screen and (max-width: 1240px) and (min-width: 700px) {

  header {
    .header__item {
      padding: 10px;
      nav {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: rgba(255,255,245,.8);
        backdrop-filter: blur(5px);
        .navigation {
          width: 300px;
          height: 200px;
          flex-direction: column;
          align-items: center;
          gap: 30px;
          .navigation__item {
            transition: .3s;
            &::after {
              display: none;
              content: '';
            }
            
            .navigation__item-link {
              color: $main-text-color;
              font-size: 20px;
              font-weight: 600;
            }
          }
          .navigation__item.active {
            &::after {
              background-color: $second-text-color;
            }
          }
        }
      }
      .modal-media-nav {
        left: 0;
      }
      
      .menu__navbar-btn {
        display: block;
      }
    }
  }
  main {
    padding: 10px;

    .proffer {
      padding: inherit;
      .proffer__section {
        padding: inherit;
        background-color: rgba(240,240,240,.6);
        width: 690px;
        border-radius: 20px;
        .proffer__title {
          font-size: 58px;
        }
      }
    }
    .conditions {
      height: max-content;
      .conditions__title {
        width: 90%;
      }
      .conditions__list {
        width: 90%;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(2, 300px);
        justify-content: center;
        gap: 50px 80px;
      }
    }
  }
}