@import 'variable';
@import 'common';
@import './section/header.scss';
@import './section/proffer.scss';
@import 'media.scss';
@import './section/conditions.scss';
@import './section/transports.scss';
@import './section/advantage.scss';
@import './section/brand.scss';

body {
  .container {
    width: 100%;
    background-color: $body-color;

    main {
      width: 100%;
    }
  }
}